header {
    text-align: center;
}

#searchForACity {
    padding-left: 1rem;
}

#fiveDayForecastTitle {
    padding-left: 1rem;
}


/* Weather Classes */
.clouds {
    background-image: url(https://media.giphy.com/media/l41lQIclE3lItAlfq/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.clear {
    background-image: url(https://media.giphy.com/media/EKpmZuydbsmRy/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.rain {
    background-image: url(https://media.giphy.com/media/PN23U6cVRWFFe/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.smoke {
    background-image: url(https://media.giphy.com/media/aAvJE6v5JStKE/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#recentlySearchedCities {
    margin-left: 2rem;
}

.btn-group-vertical {
    margin-left: 2rem;
}

/* UV Index Classes */
.low {
    background: green;
}

.moderate {
    background: yellow;
}

.high {
    background: orange;
}

.veryHigh {
    background: red;
}

.extreme {
    background: violet;
}
