header {
    text-align: center;
}

#searchForACity {
    padding-left: 1rem;
}

#fiveDayForecastTitle {
    padding-left: 1rem;
}

.clouds {
    background-image: url(https://media.giphy.com/media/l41lQIclE3lItAlfq/giphy.gif);
    width: fit-content;
    height: fit-content;
}

.clear {
    background-image: url(https://media.giphy.com/media/EKpmZuydbsmRy/giphy.gif);
    width: fit-content;
    height: fit-content;
}

.rain {
    background-image: url(https://media.giphy.com/media/PN23U6cVRWFFe/giphy.gif);
    width: fit-content;
    height: fit-content;
    color: white;
}

#recentlySearchedCities {
    margin-left: 2rem;
}

.btn-group-vertical {
    margin-left: 2rem;
}

/* UV Index Classes */
.low {
    background: green;
}

.moderate {
    background: yellow;
}

.high {
    background: orange;
}

.veryHigh {
    background: red;
}

.extreme {
    background: magenta;
}
